*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #FFE17B;       /*also Use Image  size:cover  position : center*/
}
.wrapper{
    width: 420px;
    background: #FD8D14;      /* also use transparent than give border property*/
    color: #000;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    background: #C51605;
    border-radius: 40px;
    margin: 30px 0px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 3px solid #0D1282 ;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #000;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px; 
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: #000;
    margin-right: 3px;
}
.remember-forgot a{
    color: #000;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .agree{
    display: flex;
    /* justify-content: space-between; */
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.agree label input{
    accent-color: #000;
    margin-right: 3px;
}
.agree a{
    color: #000;
    text-decoration: none;
}
.agree a:hover{
    text-decoration: underline;
}


.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
} 
.link p a{
    color: #000;
    text-decoration: none;
    font-weight: 600;
}
.link p a:hover{
    text-decoration: underline;
}